<div class="container mt-3">
  <h1>List of Restaurants</h1>
  <br>
  <p class="border-top border-3 pt-3"><%= link_to "New Restaurant", new_restaurant_path %></p>
  <% @restaurants.each do |restaurant| %>
    <div>
      <%= link_to "#{restaurant.name}", restaurant_path(restaurant) %>
    </div>
    <div>
      <%= restaurant.address %>
    </div>
  <% end %>
  <br>
</div>
